.article{
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 3px 6px 55px -8px rgba(184,178,184,1);
  -moz-box-shadow: 3px 6px 55px -8px rgba(184,178,184,1);
  box-shadow: 3px 6px 55px -8px rgba(184,178,184,1);
  margin-bottom: 60px;
}

.article h1.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 50px;
  color:#333;
  text-transform: capitalize;
}
.content-area {
  padding: 40px;
}
.content-area p {
  font-size: 24px;
}


@media all and (max-width:640px) {
  .article h1.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 30px;
    color:#333;
    text-transform: capitalize;
  }
  .article{
    margin-bottom: 30px;
  }
}
