body{
  margin:0;
  padding:0;
  background: #efefef;
  color:#222;
}

.wrapper{
  width:100%;
  margin:0;
  padding:0;
}

.container {
  width: 60%;
  margin:0 auto;
  margin-top: -130px;
}

.header{
  width:100%;
  margin:0;
  padding:0px;
  height: 300px;
  background:#8b4fff;
  padding-top:80px;
}

.logo{
  font-size:80px;
  text-align:center;
  color:#fff;
  margin:0;
}

@media all and (max-width:640px) {
  .container {
    width: 90%;
    margin-top: -100px;
  }

  .logo{
    font-size: 40px;
    margin:0;
  }

  .header{
    height: 200px;
    background:#8b4fff;
    padding-top:40px;
  }
}
