.comment-area{
  width: 100%;
  background: #f6f6f6;
  box-sizing:border-box;
}
.comment-counter{
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  padding: 15px 30px;
  box-sizing: border-box;
  border-top: 1px solid #dfdfdf;
}
.comment-list{
  padding-top: 10px;
  padding:20px;
}