@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto:300,400');
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
