.comment-item {
    border-radius: 4px;
     padding: 7px 20px;
     background: #fff;
     margin-bottom: 20px;
     border: 1px solid #dfdfdf;
   }

   .comment-item p {
    font-size: 18px;
   }

   .username{
     color: #000; /*#8b4fff;*/
     font-size: 20px;
     text-transform: capitalize;
     font-weight: bold;
     background-image: url('./../../images/comment.svg');
     background-repeat: no-repeat;
     padding-left: 30px;
     background-size: 20px 20px;
   }
   